{{ define "header_css" }}{{ end }}

{{ define "main" }}
<div class="grid grid-cols-3 gap-4">
    <div class="col-span-3 lg:col-span-2 px-2">
        <h1 class="title text-4xl">{{.Title}}</h1>
        <aside id="meta">
            <div>
                <section>
                    <h4 id="date"><span class="icon-access_time mr-1"></span>{{ .Date.Format "2006/01/02" }} </h4>
                </section>
                {{ with .Params.tags }}
                <div id="tags">
                    <span class="icon-local_offer mr-1"></span>
                    {{ range . }}
                    <a href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a> |
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </aside>
        {{ if .Params.image }}
        <img class="my-4" src="{{ .Params.image | absURL }}">
        {{ end }}
        <div class="content">{{.Content}}</div>
        <div class="ad">
            <p class="text-center my-2">スポンサーリンク</p>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Main -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1833299024151484"
                data-ad-slot="1875811617" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <hr class="py-2">
        <aside id="meta">
            {{ with .Params.categories }}
            <div id="categories">
                <span class="icon-folder text-xl mr-1"></span>
                {{ range . }}
                <span
                    class="inline-flex py-2 leading-4 mr-2 mb-2 content-center bg-gray-200 justify-center h-8 px-3 text-blue-500 hover:text-black"><a
                        href="{{ "categories" | absURL}}/{{ . | urlize }}">{{ . }}</a></span>
                {{ end }}
            </div>
            {{ end }}
            <div class="grid grid-cols-2">
                <div class="col-span-1">
                    {{ with .PrevInSection }}
                    <div class="bg-gray-200 h-auto m-3 text-center py-3 lg:py-1">
                        <a class="previous lg:text-2xl" href="{{.Permalink}}">&lt; {{.Title}}</a>
                    </div>
                    {{ end }}
                </div>
                {{ with .NextInSection }}
                <div class="col-span-1 bg-gray-200 h-auto m-3 text-center py-3 lg:py-1">
                    <a class="next lg:text-2xl" href="{{.Permalink}}"> {{.Title}} &gt;</a>
                </div>
                {{ end }}
            </div>
        </aside>
        <hr class="py-2">
        <div class="mb-3">
            {{ template "_internal/disqus.html" . }}
        </div>
    </div>
</div>
{{ end }}